body {
    overflow-x: hidden;
}


.main-link, .secLink{
    padding-bottom: 6px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%)
}

.main-link a, .sec-link a {
    display: inline-block;
    will-change:transform;
    transition: color 0.5s;
}

.sec-link a:hover{
    color: var(--color-rice)
}


.main-link a::after, .sec-link a::after, .menu-footer a::after {
    position: absolute;
    content: "";
    top: 102.5%;
    left:0;
    width:100%;
    height:10%;
    background: var(--color-emerald);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s cubic-bezier(0.6, 0, 0.4, 1)
}

.main-link a:hover::after, .sec-link a:hover::after, .menu-footer a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.my-container{
    position: relative;
    width: 100%;
    height: 100%;
    will-change: transform;
    transform-origin: right top;
}

.main-link a, .sec-link a {
    transform: translateY(120%);
    opacity: 0.25;
}

.menu-content {

    transform: translateX(-100px) translateY(-100px) scale(1.5) rotate(-15deg);
    opacity: 0.25;
    }

.menu-overlay {
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}

.menu-preview-Img {
    opacity: 0;
    transform: scale(1.25 rotate(10deg));
}

@media (max-width: 900px) {
    .main-link a::after, .sec-link a::after, .menu-footer a::after {
    display: none;
}
}